@use "./variables/variables";

.top-margin {
  margin-top: $marginSize;
}

@mixin cricle-radius($radius) {
  width: $radius;
  height: $radius;
}

.cricle-size {
  @include cricle-radius($circleSize);
}

.anunt {
  border: 1px rgb(135, 139, 161);
  background-color: rgb(81, 86, 141);
}

.btn-secondary {
  .btn-secondary:focus {
    background-color: #d6a357 !important;
  }
  .btn-secondary:hover {
    background-color: #3d3427 !important;
  }
}

.anunt--important {
  text-decoration: underline;
}

.anunt--normal {
  text-decoration: wavy;
}
