/* header */
.headerColor {
  background: linear-gradient(to right top, #133a59, #0e3d62);
}

.glass {
  /* background: rgb(255, 255, 255); */
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  border-radius: 2rem;
}

body {
  background-image: -webkit-linear-gradient(left, #e2e2e2, #e7e7e7);
}

.header-text,
.header-text:hover {
  color: white;
  text-decoration: none;
}

.header-h {
  height: 7.5rem;
}
.margin-l {
  margin-left: -2vw;
}
.margin-b {
  margin-bottom: -0.625rem;
}
.margin-t {
  margin-top: -0.625rem;
}
.margin-r {
  margin-right: -3vw;
}
